.main-sidebar {
  position: fixed;
  top: 0;
  left: -260px; /* hidden off-screen */
  width: 250px;
  height: 100%;
  background: #ffffff;
  color: white;
  padding: 4 rem 1rem 1rem 1rem;
  transition: left 0.3s ease;
  z-index: 1000;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.logo-box {
  background: #d3af37;
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #22223b;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.sidebar-nav button {
  background: none;
  border: none;
  color: #d3af37;
  font-size: 1.08rem;
  font-weight: 600;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  padding-left: 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}

.sidebar-nav button:hover {
  color: #ffffff;
  background: #f7f8fa;
}

.logout-button {
  margin-top: 320px;
}
.main-sidebar.open {
  left: 0; /* slide in */
}
/* Toggle button */
.toggle-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #22223b; /* Match your text color */
  padding: 0.5rem;
  border-radius: 4px;
  transition: background 0.2s ease;
}
.toggle-btn:hover {
  background: #f7f8fa;
}

.toggle-btn.external {
 display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

@media (max-width: 1023px) {
  .toggle-btn.external {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #8e98a1;
    color: white;
    z-index: 1100;
  }
  
  .toggle-btn.internal {
    display: block; /* Show close button inside sidebar */
  }
}

/* Larger screens: sidebar always visible */
@media (min-width: 1024px) {
  .main-sidebar {
    left: 0;
  }

  .toggle-btn,
  .overlay {
    display: none;
  }
}